body{
    font-family: Arial, Helvetica, sans-serif!important;
}

.js-item{
    color:rgb(68, 68, 68);
}

.js-item:nth-child(2n){
    background-color: rgb(238, 238, 238);
    color:rgb(235, 235, 235);
}